In [109]:
import sqlite3
import pandas as pd
cnx = sqlite3.connect('billboard-200.db')
df = pd.read_sql_query("""SELECT albums.date as date,
                                albums.artist,
                                albums.album,
                                acoustic_features.song,
                                acoustic_features.valence, 
                                albums.rank
                                FROM albums
                                left join acoustic_features
                                on albums.album = acoustic_features.album
                                order by date asc""", cnx)

KeyboardInterrupt:

In [110]:
#convert date to datetime object to extract year. 
df['date'] = pd.to_datetime(df['date'])
#extract & append year on df
df['year'] = df['date'].dt.year
#remove 2019 (it's only January data) & get the mean of each year. 
#songs' valences are obviously included multiple times a year.
valence_by_year = df[df.year != 2019.0].groupby('year').mean()
valence_by_year

         valence
year
1963.0  0.515273
1964.0  0.511420
1965.0  0.533355
1966.0  0.540115
1967.0  0.548887
1968.0  0.543063
1969.0  0.551455
1970.0  0.551919
1971.0  0.548461
1972.0  0.548564
1973.0  0.550477
1974.0  0.565533
1975.0  0.563908
1976.0  0.575006
1977.0  0.563960
1978.0  0.575727
1979.0  0.575953
1980.0  0.576408
1981.0  0.579335
1982.0  0.573955
1983.0  0.571844
1984.0  0.576138
1985.0  0.577529
1986.0  0.567806
1987.0  0.549184
1988.0  0.563319
1989.0  0.552218
1990.0  0.543562
1991.0  0.537433
1992.0  0.532825
1993.0  0.517773
1994.0  0.514015
1995.0  0.520161
1996.0  0.517226
1997.0  0.515647
1998.0  0.508336
1999.0  0.511577
2000.0  0.518214
2001.0  0.533289
2002.0  0.534594
2003.0  0.516976
2004.0  0.517841
2005.0  0.517768
2006.0  0.507502
2007.0  0.498600
2008.0  0.487535
2009.0  0.478131
2010.0  0.498272
2011.0  0.490177
2012.0  0.479782
2013.0  0.474535
2014.0  0.482949
2015.0  0.481301
2016.0  0.477154
2017.0  0.480219
2018.0  0.478781